@{
    ViewData["Title"] = "Главная страница";
}

<h1>Добро пожаловать</h1>
<div class="card2">
    <div class="row g-2 row-cols-1 row-cols-lg-2">
        <div class="card2__content">
            <h2 style="color:white">Совершенство в деталях</h2>
            <p>
                Scissor Symphony Salon – место, где эстетика становится гармонией между внешним видом и внутренним состоянием.
                В Scissor Symphony Salon мы помогаем каждому клиенту обрести свой неповторимый стиль, подчеркнуть его и раскрыть весь потенциал, ведь для нас каждый человек уникален.
            <br />
                <br />
                Мы уделяем внимание каждой детали, чтобы создать образ, который не только соответствует последним тенденциям моды, но и выражает вашу индивидуальность.            
                
            </p>
            <button class="buttonCenter" onclick="window.location.href='/appointments'">Записаться</button>
        </div>
        <div class="card2__content">
            <img src="~/Resources/pic3.png" alt="Парикмахерский салон">
        </div>
    </div>
</div>

<div class="card2">
    <div class="row g-2 row-cols-1 row-cols-lg-2">
        <div class="card2__content">
            <img src="~/Resources/pic5.png" alt="Парикмахерский салон">
        </div>
        <div class="card2__content">
            <h2 style="color:white">Уникальный опыт</h2>
            <p>
                В Scissor Symphony Salon мы предлагаем не просто услуги, а настоящий опыт, в котором каждая процедура становится шагом к вашей уверенности и блеску. Наше приоритетное внимание к вашим потребностям и желаниям гарантирует, что вы получите именно то, что искали.
                <br />
                <br />Наши мастера – это профессионалы своего дела, влюбленные в свою работу и стремящиеся к совершенству.  Они – настоящие художники, творящие волшебство с вашим образом.              
            </p>
            <button class="buttonCenter" onclick="window.location.href='/employee'">Ознакомиться с мастерами</button>
        </div>
    </div>
</div>
<div style="position: relative; padding: 0 0; ">
    <div style="position: absolute; text-align:center; top: 50%; left: 50%; transform: translate(-50%, -50%);  color: white; font-size: 50px; font-weight:bold;">
        <p>Что делает<br>Scissor Symphony Salon<br>особенным?</p>
    </div>
    <img src="~/Resources/salon2.jpg" alt="Парикмахерский салон" style="width: 100%; height: 400px; object-fit: cover;">
</div>

<div class ="text-div2">    
    
    <div class="row g-4 row-cols-1 row-cols-lg-4">
        <div class="feature col">
            <div style="background-color:#7a6863b2"></div>
            <h3>Эксклюзивный сервис высокого класса</h3>
            <p>Мы предлагаем премиальный уровень сервиса, воплощая в жизнь неповторимую философию нашего бренда</p>
        </div>
        <div class="feature col">
            <div style="background-color:#7a6863b2"></div>
            <h3>Передовые методики для вашего образа</h3>
            <p>В нашей работе мы используем передовые и эксклюзивные методики, чтобы дарить вам только лучшее</p>
        </div>
        <div class="feature col">
            <div style="background-color:#7a6863b2"></div>
            <h3>Комфорт и стиль вместе</h3>
            <p>Атмосфера нашего салона наполнена комфортом и стилем, чтобы каждое ваше посещение было истинным удовольствием</p>
        </div>
        <div class="feature col">
            <div style="background-color:#7a6863b2"></div>
            <h3>Современные технологии ухода</h3>
            <p>Наш ассортимент процедур и косметики постоянно обновляется, чтобы вы могли наслаждаться самыми современными технологиями и продуктами</p>
        </div>
        <div class="feature col">
            <div style="background-color:#7a6863b2"></div>
            <h3>Лучшие мастера в сфере парикмахеров</h3>
            <p>В Scissor Symphony Salon собраны лучшие мастера и специалисты, готовые предложить вам только лучшее</p>
        </div>
        <div class="feature col">
            <div style="background-color:#7a6863b2"></div>
            <h3>Индивидуальное обучение мастеров</h3>
            <p>Мы предлагаем индивидуальное обучение наших мастеров, чтобы каждый из них мог раскрыть свой потенциал и совершенствоваться</p>
        </div>
        <div class="feature col">
            <div style="background-color:#7a6863b2"></div>
            <h3>Технологии стрижек для вашего стиля</h3>
            <p>Наши технологии стрижек – это наше собственное творение, призванное подчеркнуть вашу индивидуальность и стиль</p>
        </div>
        <div class="feature col">
            <div style="background-color:#7a6863b2"></div>
            <h3>Эксклюзивный уход с деталями</h3>
            <p>Мы предлагаем эксклюзивные процедуры по уходу за волосами и полную систему ухода за руками, чтобы вы могли ощутить себя по-настоящему ухоженными</p>
        </div>
    </div>  
</div>


<div class="card2">
    <div class="row g-2 row-cols-1 row-cols-lg-2">
        <div class="card2__content">
            <h2 style="color:white">Ритуал красоты</h2>
                <p>
                    Мы стремимся, чтобы ваше посещение Scissor Symphony Salon стало ритуалом, окруженным атмосферой расслабления и удовольствия. Наша команда стилистов и косметологов гарантирует, что вы почувствуете себя особенно.
                <br />
                    <br />При визите в Scissor Symphony Salon вы ощутите оазис уюта и расслабления, где каждая деталь пропитана заботой о вашем комфорте и эстетике.
            </p>
            <button class="buttonCenter" onclick="window.location.href='/services'">Посмотреть услуги</button>
        </div>
            <div class="card2__content">
                <img src="~/Resources/pic1.png" alt="Парикмахерский салон">
            </div>
    </div>
</div>

    <div class="card2">
        <div class="row g-2 row-cols-1 row-cols-lg-2">
            <div class="card2__content">
                <img src="~/Resources/pic4.png" alt="Парикмахерский салон">
            </div>
            <div class="card2__content">
            <h2 style="color:white">Гармония эстетики</h2>
                <p>
                    Представьте место, где эстетика и стиль сливаются в единую симфонию, где каждый гость - главный герой. Добро пожаловать в мир эстетики, вдохновения и гармонии!
                </p>
            <button class="buttonCenter"  onclick="window.location.href='/appointments'">Записаться</button>
            </div>
        </div>
    </div>



